body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #eaeaea;
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow: auto;
}

.content {
    padding: 0;
    margin: 0;
}

.image, .text {
    display: flex;
    align-items: initial;
    justify-content: initial;
}

.content h2 {
    font-size: 1.6rem;
    font-style: italic;
    color: #616161;
    text-align: center;
}

@media only screen and (max-width: 415px) {
    body {
        background-image: url('../images/background-sm.jpg');
        width: 100%;
        background-size: 100%;
        overflow: auto;
    }

    .content img {
      width: 350px;
    }

    .content h2 {
        text-align: initial;
        font-size: 1.5rem;
    }

    .content{
        position: relative;
        bottom: 100px;
        right: 20px;
    }

    .text {
        position: relative;
        bottom: 55px;
        left: 30px;
        width: 320px;
    }
}